body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    color: #0056b3; /* Azul oscuro */
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Blanco */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #0056b3; /* Azul oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00408a; /* Azul más oscuro en hover */
}

#mensaje {
    background-color: #d1e7ff; /* Azul claro */
    color: #0056b3; /* Azul oscuro */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b6d4fe;
    border-radius: 4px;
    text-align: center;
}

#listadoalumno {
    padding: 40px 0;
}

input:focus {
    outline: none;
    border-color: #0056b3;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
